[submodule "external/Z80"]
	path = external/Z80
	url = https://github.com/adriagipas/Z80
[submodule "external/GG"]
	path = external/GG
	url = https://github.com/adriagipas/GG.git
[submodule "external/GBC"]
	path = external/GBC
	url = https://github.com/adriagipas/GBC.git
[submodule "external/NES"]
	path = external/NES
	url = https://github.com/adriagipas/NES.git
[submodule "external/MIX"]
	path = external/MIX
	url = https://github.com/adriagipas/MIX.git
[submodule "external/CD"]
	path = external/CD
	url = https://github.com/adriagipas/CD.git
[submodule "external/PSX"]
	path = external/PSX
	url = https://github.com/adriagipas/PSX.git
[submodule "external/MD"]
	path = external/MD
	url = https://github.com/adriagipas/MD.git
[submodule "external/IA32"]
	path = external/IA32
	url = https://github.com/adriagipas/IA32.git
[submodule "external/PC"]
	path = external/PC
	url = https://github.com/adriagipas/PC.git
