[submodule "external/Z80"]
	path = external/Z80
	url = https://github.com/adriagipas/Z80
[submodule "external/GG"]
	path = external/GG
	url = https://github.com/adriagipas/GG.git
[submodule "external/GBC"]
	path = external/GBC
	url = https://github.com/adriagipas/GBC.git
[submodule "external/NES"]
	path = external/NES
	url = https://github.com/adriagipas/NES.git
[submodule "external/MIX"]
	path = external/MIX
	url = https://github.com/adriagipas/MIX.git
[submodule "external/CD"]
	path = external/CD
	url = https://github.com/adriagipas/CD.git
